printshellcmds: true
use-envmodules: true
rerun-incomplete: true
latency-wait: 180
jobs: 120
keep-going: true
executor: cluster-generic
default-resources:
  memPerCpu: 4G

set-resources:
  align:
    memPerCpu: 100G
  trim:
    memPerCpu: 8G
  qualimap_bamqc:
    memPerCpu: 20G
  qualimap_rnaseq:
    memPerCpu: 20G
  quant:
    memPerCpu: 10G

cluster-generic-submit-cmd: >-
  sbatch
  -J {rule}-{wildcards}
  -p general
  -t 3-00:00:00
  -c {threads}
  --mem={resources.memPerCpu}
  -o rna_output/logs_slurm/{rule}-%j.out
  -e rna_output/logs_slurm/{rule}-%j.err
  --parsable

